.answerWrapper {
    margin-top: 78px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 70px;
}
.answerWrapper .answerBlock {
    width: 400px;
    margin-left: 20px;
    background-color:white;
    border-radius: 6px;
    box-shadow: #bdbdbd 7px 7px 20px 2px;
}
.answerWrapper .depositoryName {
    margin: 10px auto;
    width: 300px;
    font-size: 19px;
    padding: 10px 20px;
    border-bottom: 1px solid #bdbdbd;
}
.answerWrapper .classfyName {
    margin: 10px auto;
    width: 300px;
    padding: 10px 0;
    text-align: left;
}
.answerWrapper .classfyTitle {
    font-weight: bold;
    font-size: 17px;
}
.answerWrapper .classfy {
    margin-left: 20px;
}
.answerWrapper .tagWrapper {
    margin: 10px auto;
    width: 300px;
    padding-bottom: 10px;
}
.answerWrapper .tagWrapper .tagTitle {
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}
.answerWrapper .tagWrapper .tagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.answerWrapper .tagWrapper .tagList .tag {
    padding: 6px 10px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}