.modal-title ,
.lineStyle {
    text-align: left;
}

.lineStyle {
    height: 38px;
    line-height: 38px;
    position: relative;
}
.lineStyle label {
    margin-right: 15px;
}
.lineStyle input {
    height: 33px;
    width: 248px;

}
.lineStyle .radio {
    margin: 0;
    display: inline-block;
    height: 15px;
    width: 35px;
}
.lineStyle .modifySize {
    height: 33px;
}
.smallClassfyWrapper {
    min-height: 115px;
}
.smallClassfyFiled {
    width: 300px;
    min-height: 70px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.smallClassfyFiled .smallClassfy {
    font-size: 16px;
    padding: 0px 17px;
    margin-left: 10px;
    margin-top: 5px;
    height: 32px;
    line-height: 32px;
    border-radius: 7px;
    text-align: center;
    border: 1px solid #dbdbdb;
}
#myModal .modal-body .lineStyle .addSmall {

    width: 55px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    color: #101010;
    background-color: aliceblue;
}